! ! Solarized backup
! ! special
! *.foreground:   #93a1a1
! *.background-even:   #32555e
! *.background:   #002b36
! *.background-dark:   #001920
! *.cursorColor:  #93a1a1
! 
! ! black
! *.color0:       #002b36
! *.color8:       #657b83
! 
! ! red
! *.color1:       #dc322f
! *.color9:       #dc322f
! 
! ! green
! *.color2:       #6a7a00
! *.color10:      #6a7a00
! 
! ! yellow
! *.color3:       #b58900
! *.color11:      #b58900
! 
! ! blue
! *.color4:       #268bd2
! *.color12:      #268bd2
! 
! ! magenta
! *.color5:       #6c71c4
! *.color13:      #6c71c4
! 
! ! cyan
! *.color6:       #2aa198
! *.color14:      #2aa198
! 
! ! white
! *.color7:       #93a1a1
! *.color15:      #fdf6e3

! gruvbox dark medium
!

#define base00 #282828
#define base01 #3c3836
#define base02 #504945
#define base03 #665c54
#define base04 #bdae93
#define base05 #d5c4a1
#define base06 #ebdbb2
#define base07 #fbf1c7
#define base08 #fb4934
#define base09 #fe8019
#define base0A #fabd2f
#define base0B #b8bb26
#define base0C #8ec07c
#define base0D #83a598
#define base0E #d3869b
#define base0F #d65d0e

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Rofi
rofi.font: monospace 11
rofi.padding: 20
rofi.line-padding: 2
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.kb-cancel: Escape,Alt+F1

! Rofi colors
! Property Name     BG       Border   Separator
rofi.color-window:  #3c3836, #3c3836, #282828
! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3c3836, #d5c4a1, #3c3836, #3c3836, #fbf1c7
rofi.color-active:  #3c3836, #83a598, #3c3836, #3c3836, #83a598
rofi.color-urgent:  #3c3836, #fb4934, #3c3836, #3c3836, #fb4934

! xterm
xterm*termName: xterm-256color
xterm*font: monospace
xterm*faceName: monospace:size=11
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#002b36
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:monospace:size=11
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,tabbed
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: [95]#1C2023
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
Urxvt.intensityStyles: false

! UXTerm
UXTerm*termName: xterm-256color
UXTerm*cursorColor: white
UXTerm*VT100.geometry: 90x34
UXTerm*font: monospace
UXTerm*faceSize: 10
UXTerm*dynamicColors: true
UXTerm*utf8: 2
UXTerm*eightBitInput: true
UXTerm*saveLines: 10000
UXTerm*scrollKey: true
UXTerm*scrollTtyOutput: false
UXTerm*scrollBar: false
UXTerm*rightScrollBar: false
UXTerm*jumpScroll: true
UXTerm*multiScroll: true
UXTerm*toolBar: false

