! Base16 Dracula
! Scheme: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

#define base00 #282936
#define base01 #3a3c4e
#define base02 #4d4f68
#define base03 #626483
#define base04 #62d6e8
#define base05 #e9e9f4
#define base06 #f1f2f8
#define base07 #f7f7fb
#define base08 #ea51b2
#define base09 #b45bcf
#define base0A #00f769
#define base0B #ebff87
#define base0C #a1efe4
#define base0D #62d6e8
#define base0E #b45bcf
#define base0F #00f769

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! Rofi
rofi.font: monospace 11
rofi.padding: 20
rofi.line-padding: 2
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.kb-cancel: Escape,Alt+F1

! Property Name     BG       Border   Separator
rofi.color-window:  #3a3c4e, #3a3c4e, #282936

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3a3c4e, #e9e9f4, #3a3c4e, #3a3c4e, #f7f7fb
rofi.color-active:  #3a3c4e, #62d6e8, #3a3c4e, #3a3c4e, #62d6e8
rofi.color-urgent:  #3a3c4e, #ea51b2, #3a3c4e, #3a3c4e, #ea51b2

! xterm
xterm*termName: xterm-256color
xterm*font: monospace
xterm*faceName: monospace:size=11
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#002b36
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:monospace:size=11
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,tabbed
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: [95]#1C2023
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
Urxvt.intensityStyles: false

! UXTerm
UXTerm*termName: xterm-256color
UXTerm*cursorColor: white
UXTerm*VT100.geometry: 90x34
UXTerm*font: monospace
UXTerm*faceSize: 10
UXTerm*dynamicColors: true
UXTerm*utf8: 2
UXTerm*eightBitInput: true
UXTerm*saveLines: 10000
UXTerm*scrollKey: true
UXTerm*scrollTtyOutput: false
UXTerm*scrollBar: false
UXTerm*rightScrollBar: false
UXTerm*jumpScroll: true
UXTerm*multiScroll: true
UXTerm*toolBar: false
